.header {
  height: 40px;
  margin: 10px 20px;
  display: flex;
  background-color: lightgrey;
  border: 2px solid grey;
  border-radius: 8px;

  &__logout {
    text-decoration: unset;
    height: 20px;
    right: 2px;
    margin: auto;
    margin-right: 40px;
    color: #91578b;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    &:hover {
      color: #d580cc;
    }
  }
}