.form {
  width: 310px;
  margin: auto;

  &__row {
    display: flex;

    &__label {
      margin-left: 10px;
      margin-right: auto;
    }

    &__input {
      margin-right: 10px;
      margin-left: auto;
    }
  }
}